body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

section {
  height: 100vh;
  min-height: 100vh;
  align-items: center;
  display: flex;
}

.btn-cta {
  background-color: #FEDDB6;
  border-radius: 6px;
  border-color: #FEDDB6;
  padding: .375rem .75rem;
}

.first-section {
  height: 80vh;
  min-height: 80vh;
}

.navbar .navbar-brand {
  padding-top: 0px;
}

.navbar .navbar-brand img {
  height: 80px;
}

.blue-background {
  background-color: #D0eeFF;
}