body {
  margin: 0;
  font-family: 'Glacial Indifference Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

section {
  height: 100vh;
  min-height: 100vh;
  align-items: center;
  display: flex;
}

@font-face {
  font-family: "Now Bold";
  src: url("fonts/now-bold-webfont.eot");
  src:
  url("fonts/now-bold-webfont.woff") format("woff"),
  url("fonts/Now-Bold.otf") format("opentype"),
  url("fonts/now-bold-webfont.svg") format("svg");
}

@font-face {
  font-family: "Glacial Indifference Regular";
  src: url("fonts/glacialindifference-regular-webfont.eot");
  src:
  url("fonts/glacialindifference-regular-webfont.woff") format("woff"),
  url("fonts/GlacialIndifference-Regular.otf") format("opentype"),
  url("fonts/glacialindifference-regular-webfont.svg") format("svg");
}

@font-face {
  font-family: "Glacial Indifference Bold";
  src: url("fonts/glacialindifference-bold-webfont.eot");
  src:
  url("fonts/glacialindifference-bold-webfont.woff") format("woff"),
  url("fonts/GlacialIndifference-Bold.otf") format("opentype"),
  url("fonts/glacialindifference-bold-webfont.svg") format("svg");
}

@font-face {
  font-family: "Glacial Indifference Italic";
  src: url("fonts/glacialindifference-italic-webfont.eot");
  src:
  url("fonts/glacialindifference-italic-webfont.woff") format("woff"),
  url("fonts/GlacialIndifference-Italic.otf") format("opentype"),
  url("fonts/glacialindifference-italic-webfont.svg") format("svg");
}

.blue-background {
  background-color: #D0eeFF;
}

.btn-cta {
  background-color: #FEDDB6;
  border-radius: 6px;
  border-color: #FEDDB6;
  padding: .375rem .75rem;
}

.first-section {
  height: 80vh;
  min-height: 80vh;
}

.navbar .navbar-brand {
  padding-top: 0px;
}

.navbar .navbar-brand img {
  height: 80px;
}

.special-section {
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  align-items: top;
  display: flex;
  min-height: 100vh;
}

.testimonial {
  background-color: #D0eeFF;
  min-height: 70vh;
  align-items: center;
  display: flex;
  text-align: left;
  padding-left: 11.75rem;
  padding-right: 11.75rem;
  padding-top: 6rem;
  padding-bottom: 6rem; /* top right bottom left */
}

.yellow-background {
  background-color: #f8c100;
}